<!DOCTYPE html>
<html>
<head>
    <% include util/head %>
</head>
<body >
<% include util/header %>
<main>
    <div class="container">

            <div class="jumbotron">
                <h3>Get financial help</h3>
                <div class="form-group">
                    <label for="countrySelect">Select country:</label>
                    <select class="form-control" id="countrySelect">
                        <option>Ireland</option>
                        <option>France</option>
                        <option>Germany</option>
                        <option>Belgium</option>
                    </select>

                    <br>

                    <label for="energySelect">Select renewable energy:</label>
                    <select class="form-control" id="energySelect">
                        <option>any</option>
                        <option>solar</option>
                        <option>wind</option>
                        <option>geothermal</option>
                        <option>biomass</option>

                    </select>
                </div>

                <button type="button" class="btn btn-info" id="financialSelectButton" onclick="getFinancialHelp()">Check</button>

                <br>
                <br>
                <p id="response"></p>

            </div>
    </div>


</main>
<%include util/footer%>
</body>
</html>