<!DOCTYPE html>
<html>
  <head>
      <% include util/head %>
  </head>
  <body >
    <% include util/header %>
    <main>
<!--        <hr>-->
<!--        <h1>ECCO one stop shop</h1>-->
    <!--    <p>Welcome to </p>-->
        <div class="container">

            <div class="jumbotron">
                <a href="learn">
                    <h1>Learn</h1>
                    <p>
                        &#8226;  Acquire knowledge with the calculator get links and read documents
                        for financial, technical and community support. Discover our beacons,
                        and helpful and related guides. Get links to tools to set you up.
                    </p>
                </a>
            </div>
        </div>
        <div class="container">
            <div class="jumbotron">
                <a href="test">
                    <h1>Get help to manage your project</h1>
                    <p>
                        &#8226;  Receive help for how to get started; links to community building websites,
                        financial aid websites for eco and energy projects, links to videos and guides
                        on how these technologies work and advice on them. how to grow their community,
                        how to manage tasks, how to get organised, how to get others excited.
                    </p>
                </a>

            </div>
        </div>


        <div class="container">
            <div class="jumbotron">
                <a href="tet"><h1>Connect with others</h1>
                    <p>
                        &#8226;  Do a progression evaluation and get linked to help websites for people who
                        have already gone somewhat down the path of setting up their own ECCO project
                        and want help on what to do next. Help them find out where they are weak
                        and provide websites to where they may get help.
                    </p>
                </a>

            </div>
        </div>
    </main>
    <%include util/footer%>
  </body>
</html>
