<!DOCTYPE html>
<html>
<head>
    <% include head %>
</head>
<body >
<% include header %>
<main>

    <div class="container">
        <a href="financial">
            <div class="jumbotron">
                <h1>Financial</h1>
            </div>
        </a>
    </div>
    <div class="container">
        <a href="#">
            <div class="jumbotron">
                <h1>Community</h1>
            </div>
        </a>
    </div>
    <div class="container">
        <a href="#">
            <div class="jumbotron">
                <h1>Technical</h1>
            </div>
        </a>
    </div>
</main>
<%include footer%>
</body>
</html>
