<!DOCTYPE html>
<html>
<head>
    <% include util/head %>
</head>
<body >
<% include util/header %>
<main>
    <div class="container">
        <div class="jumbotron">
            <h1>Congratulations! You have successfully registered!</h1>
        </div>
    </div>
</main>
<%include util/footer%>
</body>
</html>