<!DOCTYPE html>
<html>
<head>
    <% include util/head %>
</head>
<body >
    <% include util/header %>
    <main>
        <!-- This is where the user gets their response loaded on their registration success or not -->
        <div class="container">
            <div class="registration-response">

            </div>
        </div>


        <!-- This is where the user fills in the form to get registered -->
        <div class="container">

            <div class="jumbotron">

                <form id="registration-form" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="userName">Username:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="userName" placeholder="Enter username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">Password:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwdRepeat">Repeat password:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="pwdRepeat" placeholder="Repeat password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label><input type="checkbox"> Remember me</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default" id="registrationSubmitBtn">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- This is where the user gets their response loaded on their registration success or not -->
        <div class="container">
            <div class="registration-response">
            <!-- Default bootstrap alert -->

            </div>
        </div>

    </main>
    <%include util/footer%>
</body>
</html>